<html>
  <head>
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Vunlnerability Report</title>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
    <!--<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dataTables.bootstrap.min.css') }}" />
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <link href="{{ url_for('static', filename='css/bootstrap-editable.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/bootstrap-editable.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}"

    <script src="{{ url_for('static', filename='js/jquery-3.5.1.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min2.css') }}" />
    <!--<link rel="stylesheet" href="{{ url_for('static', filename='css/dataTables.bootstrap.min2.css') }}" />-->

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/datatable.css') }}">
    <script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='js/datatable.js') }}"></script>
<script type="text/javascript" language="javascript">
  
$('#searchSubmit').on( 'click', function () {
      var searchstring = $('#searchbar').val();
      alert(searchstring);
      oTable.search(searchstring).draw();
} );



$(document).ready(function () {
    $('#sample_data').DataTable({
        search: {
            return: true,
        },
    });
});

function del(ID, name){
    if (confirm("Are you sure you want to delete '" + name + "'")){
        window.location.href = '/delete/org/' + ID;
    }
}
    </script>
    <style>
    @import url('//127.0.0.1/static/css/font-awesome.min.css');

      .info-msg,
      .success-msg,
      .warning-msg,
      .error-msg {
        margin: 10px 0;
        padding: 10px;
        border-radius: 3px 3px 3px 3px;
      }
      .panel-body{
        box-shadow: 0px 2px 20px rgb(0, 0, 0);
        border-radius: 1rem;
      }
      .heading{
        text-shadow: 3px 3px 4px rgba(0,0,0,0.48);
      }
      .btn{
        border: none;
      }
      .btn-primary {
    color: #fff;
    background-color: #020202;
 
}
.btn:hover{
  color: #fff;
    background-color: #020202;
}
  .btn-primary.focus, .btn-primary:focus {
    color: #fff;
    background-color: #020202;
}
    </style>
  </head>
    <body>
        <div class="container">
            <h3 align="center" class="heading"><b>Vunlnerability Reports</b></h3>
            <br />
            <div class="panel panel-default">
              
                <div class="panel-body">
                  <br>
                {% with messages = get_flashed_messages(with_categories=true)%}
                {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{message}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">×</span>
                                </button>
                </div>
                {% endfor %}
                {% endwith %}
                <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#insert" style="display:inline;" >Add New Vunlnerability Report</a>
                <!--<a href="#" class="btn btn-primary" data-toggle="modal" style="display:inline;float: right;" id="searchSubmit">Search</a>-->
                <br>
                <br>
                    <div class="table-responsive">
                      
                        <table id="sample_data" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Report_ID</th>
                                    <th>V_title</th>
                                    <th>Priority</th>
                                    <th>Triager_name</th>
                                    <th>Target_loc</th>
                                    <th>Reward</th>
                                    <th>points</th>
                                    <th>Description</th>
                                    <th>Org_ID</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for row in vulnreport %}
                                <tr>
                                    <td data-name="report_id" class="report_id" data-type="text" data-pk="{{row.id}}">{{row.report_id}}</td>
                                    <td id="v_title" data-name="v_title" name="v_title" class="v_title" data-type="text" data-pk="{{row.id}}">{{row.v_title}}</td>
            
                                    <td data-name="priority" class="priority" data-type="text" data-pk="{{row.id}}">{{row.priority}}</td>
                                    <td data-name="triager_name" class="triager_name" data-type="text" data-pk="{{row.id}}">{{row.triager_name}}</td>
                                    <td data-name="target_loc" class="target_loc" data-type="text" data-pk="{{row.id}}">{{row.target_loc}}</td>
                                    <td data-name="reward" class="reward" data-type="text" data-pk="{{row.id}}">{{row.reward}}</td>
                                    <td data-name="points" class="points" data-type="text" data-pk="{{row.id}}">{{row.points}}</td>
                                    <td data-name="description" class="description" data-type="text" data-pk="{{row.id}}">{{row.description}}</td>
                                    <td data-name="org_id" class="org_id" data-type="text" data-pk="{{row.id}}">{{row.org_id}}</td>
                                    
                                    <td><a href="#" class="btn btn-primary" data-toggle="modal" data-target='#edit{{ row.id }}' >Update</a></td>
                                    <td><a href="javascript:del('{{row.id}}','{{row.v_title}}')" class="btn btn-primary ">Delete</a></td>
                                </tr>

                                 <!-- Modal -->
                              <div class="modal fade" id="edit{{ row.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h5 class="modal-title" id="exampleModalLabel" style="display: inline-block;"><b>Edit Organization detail</b></h5>
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="display: inline-block;">
                                        <span aria-hidden="true">×</span>
                                      </button>
                                    </div>
                                    <div class="modal-body">
                                      <form role="form" method="post" action="/updateorganization">
                                        <div class="form-group" style="display: none;">
                                          <label class="col-form-label" >Report_id:</label>
                                          <input type="text" class="form-control" id="txtreport_id" name="txtreport_id" value="{{row.report_id}}" >
                                        </div>
                                        <div class="form-group">
                                          <label class="col-form-label" >V_title:</label>
                                          <input type="text" class="form-control" id="txtv_title" name="txtv_title" value="{{row.v_title}}"  >
                                        </div>
                                        <div class="form-group">
                                          <label class="col-form-label">Priority:</label>
                                          <input type="text" class="form-control" id="txtpriority" name="txtpriority" value="{{row.priority}}">
                                        </div>
                                        <div class="form-group">
                                            <label class="col-form-label">Triager_name:</label>
                                            <input type="text" class="form-control" id="txttriager_name" name="txttriager_name" value="{{row.triager_name}}">
                                        </div>
                                        <div class="form-group">
                                            <label class="col-form-label">Target_loc:</label>
                                            <input type="text" class="form-control" id="txttarget_loc" name="txttarget_loc" value="{{row.target_loc}}">
                                        </div>
                                        <div class="form-group">
                                            <label class="col-form-label">Reward:</label>
                                            <input type="text" class="form-control" id="txtreward" name="txtreward" value="{{row.reward}}">
                                        </div>
                                        <div class="form-group">
                                            <label class="col-form-label">Points:</label>
                                            <input type="text" class="form-control" id="txtpoints" name="txtpoints" value="{{row.points}}">
                                        </div>
                                        <div class="form-group">
                                            <label class="col-form-label">Description:</label>
                                            <input type="text" class="form-control" id="txtdescription" name="txtdescription" value="{{row.description}}">
                                        </div>
                                        <div class="form-group">
                                            <label class="col-form-label">Org_ID:</label>
                                            <input type="text" class="form-control" id="txtorg_id" name="txtorg_id" value="{{row.org_id}}">
                                        </div>

                                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                      <input name="cmdsubmit" class="btn btn-primary" type="submit" value="Submit" />
                                      </form>
                                    </div>
                                  </div>
                                </div>
                              </div>
                             {% endfor %}
                            </tbody>
                        </table>

                        <!--modal for insertion -->
                        <div class="modal fade" id="insert" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h3 class="modal-title" id="exampleModalLabel" style="display: inline-block;"><b>Add New Organization</b></h3>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="display: inline-block;">
                                  <span aria-hidden="true">X</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                <form role="form" method="post" action="/updateorganization">
                                  <div class="form-group" style="display: none;">
                                    <label class="col-form-label" >Report_id:</label>
                                    <input type="text" class="form-control" id="txtreport_id" name="txtreport_id" >
                                  </div>
                                  <div class="form-group">
                                    <label class="col-form-label" >V_title:</label>
                                    <input type="text" class="form-control" id="txtv_title" name="txtv_title"  >
                                  </div>
                                  <div class="form-group">
                                    <label class="col-form-label">Priority:</label>
                                    <input type="text" class="form-control" id="txtpriority" name="txtpriority" >
                                  </div>
                                  <div class="form-group">
                                      <label class="col-form-label">Triager_name:</label>
                                      <input type="text" class="form-control" id="txttriager_name" name="txttriager_name" >
                                  </div>
                                  <div class="form-group">
                                      <label class="col-form-label">Target_loc:</label>
                                      <input type="text" class="form-control" id="txttarget_loc" name="txttarget_loc" >
                                  </div>
                                  <div class="form-group">
                                      <label class="col-form-label">Reward:</label>
                                      <input type="text" class="form-control" id="txtreward" name="txtreward" >
                                  </div>
                                  <div class="form-group">
                                      <label class="col-form-label">Points:</label>
                                      <input type="text" class="form-control" id="txtpoints" name="txtpoints" >
                                  </div>
                                  <div class="form-group">
                                      <label class="col-form-label">Description:</label>
                                      <input type="text" class="form-control" id="txtdescription" name="txtdescription" >
                                  </div>
                                  <div class="form-group">
                                      <label class="col-form-label">Org_ID:</label>
                                      <input type="text" class="form-control" id="txtorg_id" name="txtorg_id" >
                                  </div>
                                  
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <input name="cmdsubmit" class="btn btn-primary" type="submit"  />
                                </form>
                              </div>
                            </div>
                          </div>
                        </div>  
                        <!--modal for insertion -->
                    </div>
                </div>
            </div>
        </div>
        <br />
        <br />
    </body>
</html>