{% extends 'layout.html' %}
{% block title %}Vulnerability Report{% endblock %}
{% block content %}
<script>
  function del(ID, name){
            if (confirm("Are you sure you want to delete '" + name + "'")){
                window.location.href = '/delete/vulnreport/' + ID;
            }
        }
</script>
<div class="container">
          <div class="headtitle">
              
            <br><br>
           <a href="/"> <button class="home-btn"> <i class="fa-solid fa-house"></i> Home</button></a>
           <h1 class="heading"><b>Vulnerability Reports</b></h1>
          </div>
            <br />
            <div class="panel panel-default">
              
                <div class="panel-body">
                  <br>
                {% with messages = get_flashed_messages(with_categories=true)%}
                {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{message}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">×</span>
                                </button>
                </div>
                {% endfor %}
                {% endwith %}
                <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#insert" style="display:inline;" >Add New Report</a>
                <!--<a href="#" class="btn btn-primary" data-toggle="modal" style="display:inline;float: right;" id="searchSubmit">Search</a>-->
                <br>
                <br>
                    <div class="table-responsive">
                      
                        <table id="sample_data" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Report_ID</th>
                                    <th>V_title</th>
                                    <th>Priority</th>
                                    <th>Triager_name</th>
                                    <th>Target_loc</th>
                                    <th>Reward</th>
                                    <th>points</th>
                                    <th>Description</th>
                                    <th>Org_ID</th>
                                    <th>Update</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for row in vulnreport %}
                                <tr>
                                    <td data-name="report_id" class="report_id" data-type="text" data-pk="{{row.id}}">{{row.report_id}}</td>
                                    <td id="v_title" data-name="v_title" name="v_title" class="v_title" data-type="text" data-pk="{{row.id}}">{{row.v_title}}</td>
            
                                    <td data-name="priority" class="priority" data-type="text" data-pk="{{row.id}}">{{row.priority}}</td>
                                    <td data-name="triager_name" class="triager_name" data-type="text" data-pk="{{row.id}}">{{row.triager_name}}</td>
                                    <td data-name="target_loc" class="target_loc" data-type="text" data-pk="{{row.id}}">{{row.target_loc}}</td>
                                    <td data-name="reward" class="reward" data-type="text" data-pk="{{row.id}}">{{row.reward}}</td>
                                    <td data-name="points" class="points" data-type="text" data-pk="{{row.id}}">{{row.points}}</td>
                                    <td data-name="description" class="description" data-type="text" data-pk="{{row.id}}"><textarea rows="7" readonly>{{row.description}}</textarea></td>
                                    <td data-name="org_id" class="org_id" data-type="text" data-pk="{{row.id}}">{{row.org_id}}</td>
                                    
                                    <td><a href="#" class="btn btn-primary" data-toggle="modal" data-target='#edit{{ row.id }}' >Update</a></td>
                                    <td><a href="javascript:del('{{row.id}}','{{row.v_title}}')" class="btn btn-primary ">Delete</a></td>
                                    
                                </tr>

                                 <!-- Modal -->
                                 <div class="modal fade" id="edit{{ row.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <h5 class="modal-title" id="exampleModalLabel" style="display: inline-block;"><b><i class="fa-solid fa-pen-to-square"></i> Edit Report detail</b></h5>
                                          <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="display: inline-block;">
                                            <span aria-hidden="true">×</span>
                                          </button>
                                        </div>
                                        <div class="modal-body">
                                          <form role="form" method="post" action="/updatevulnreport">
                                            <div class="form-group" style="display: none;">
                                              <label class="col-form-label" >Report_id:</label>
                                              <input type="text" class="form-control" id="txtreport_id" name="txtreport_id" value="{{row.report_id}}" >
                                            </div>
                                            <div class="form-group">
                                              <label class="col-form-label" >V_title:</label>
                                              <input type="text" class="form-control" id="txtv_title" name="txtv_title" value="{{row.v_title}}"  >
                                            </div>
                                            <div class="form-group">
                                              <label class="col-form-label">Priority:</label>
                                              <!-- <input list="priority" class="form-control" id="txtpriority" name="txtpriority" value="{{row.priority}}">
                                               -->
                                               <select name="txtpriority" class="form-control" value="{{row.priority}}" id="txtpriority">
                                                <option value="P1">P1</option>
                                                <option value="P2">P2</option>
                                                <option value="P3">P3</option>
                                                <option value="P4">P4</option>
                                                <option value="P5">P5</option>

                                               </select>
                                            </div>
                                            
                                            <div class="form-group">
                                                <label class="col-form-label">Triager_name:</label>
                                                <input type="text" class="form-control" id="txttriager_name" name="txttriager_name" value="{{row.triager_name}}">
                                            </div>
                                            <div class="form-group">
                                                <label class="col-form-label">Target_loc:</label>
                                                <input type="text" class="form-control" id="txttarget_loc" name="txttarget_loc" value="{{row.target_loc}}">
                                            </div>
                                            <div class="form-group">
                                                <label class="col-form-label">Reward:</label>
                                                <input type="text" class="form-control" id="txtreward" name="txtreward" value="{{row.reward}}">
                                            </div>
                                            <div class="form-group">
                                                <label class="col-form-label">Points:</label>
                                                <input type="text" class="form-control" id="txtpoints" name="txtpoints" value="{{row.points}}">
                                            </div>
                                            <div class="form-group">
                                                <label class="col-form-label">Description:</label>
                                                <textarea  class="form-control" id="txtdescription" name="txtdescription" >{{row.description}}</textarea>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-form-label">Org_ID:</label>
                                                <input type="text" class="form-control" id="txtorg_id" name="txtorg_id" value="{{row.org_id}}">
                                            </div>
    
                                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                          <input name="cmdsubmit" class="btn btn-primary" type="submit" value="Submit" />
                                          </form>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                {% endfor %}
                            </tbody>
                        </table>
                      </div>
                        <!--modal for insertion -->
                        <div class="modal fade" id="insert" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h3 class="modal-title" id="exampleModalLabel" style="display: inline-block;"><b>Add New Report</b></h3>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="display: inline-block;">
                                    <span aria-hidden="true">×</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                    <form role="form" method="post" action="{{url_for('addvulnreport')}}">
                                    <div class="form-group" style="display: none;">
                                      <label class="col-form-label" >Report_id:</label>
                                      <input type="text" class="form-control" id="txtreport_id" name="txtreport_id" >
                                    </div>
                                    <div class="form-group">
                                      <label class="col-form-label" >V_title:</label>
                                      <input type="text" class="form-control" id="txtv_title" name="txtv_title"  >
                                    </div>
                                    <div class="form-group">
                                      <label class="col-form-label">Priority:</label>
                                      <!-- <input type="text" class="form-control" id="txtpriority" name="txtpriority" > -->
                                      <select name="txtpriority" class="form-control" id="txtpriority">
                                        <option value="P1">P1</option>
                                        <option value="P2">P2</option>
                                        <option value="P3">P3</option>
                                        <option value="P4">P4</option>
                                        <option value="P5">P5</option>

                                       </select>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-form-label">Triager_name:</label>
                                        <input type="text" class="form-control" id="txttriager_name" name="txttriager_name" >
                                    </div>
                                    <div class="form-group">
                                        <label class="col-form-label">Target_loc:</label>
                                        <input type="text" class="form-control" id="txttarget_loc" name="txttarget_loc" >
                                    </div>
                                    <div class="form-group">
                                        <label class="col-form-label">Reward:</label>
                                        <input type="text" class="form-control" id="txtreward" name="txtreward" >
                                    </div>
                                    <div class="form-group">
                                        <label class="col-form-label">Points:</label>
                                        <input type="text" class="form-control" id="txtpoints" name="txtpoints" >
                                    </div>
                                    <div class="form-group">
                                        <label class="col-form-label">Description:</label>
                                        <textarea type="text" class="form-control" id="txtdescription" name="txtdescription" ></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-form-label">Org_ID:</label>
                                        <input type="text" class="form-control" id="txtorg_id" name="txtorg_id" >
                                    </div>
                                    
                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                  <input name="cmdsubmit" class="btn btn-primary" type="submit"  />
                                  </form>
                                </div>
                              </div>
                            </div>
                          </div>  
                        <!--modal for insertion -->
                  
                </div>
            </div>
</div>
{% endblock %}